@charset "utf-8";
/*Screen Based CSS Document */
@media all{
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, p, blockquote, th, td{margin:0;padding:0;font-weight:normal; font-size:11px; font-family:Arial, Helvetica, sans-serif;color:#787878;}
img, body, html{border:0 none;}
address, caption, cite, code, dfn, var{font-style:normal;font-weight:normal;}
body{font-size:11px;}
select{padding:3px 0 3px 8px;}
ul{list-style:disc outside none;}
ol{list-style:outside decimal;padding-left:30px;}
li{}
ol li ol{padding-left:20px;}
ol.alpha{list-style:lower-alpha outside none;}
ol.roman{list-style:lower-roman outside none;}
p{margin:0 0 1em 0;}
p input.datePicker,p input.datePicker:focus{width:124px !important;float:left;}
p .datePickerIco{background:url("../sharedImages/siteElements/icons-logos/icons.jpg") no-repeat scroll -47px -54px transparent;display:block;float:left;height:20px;width:23px;}
caption,th{text-align:left;}
a,a.link,a.visited,a:hover{text-decoration:none;}
a,a.link,a.visited,#topBarFrame .site_global a:hover,.denimBlue{color:#026cb8;}
a:hover,#footerContentBar a:hover,#footerLegalBar a:hover,.homePage #information h1 a:hover,.homePage #information h3 a:hover,#footer #footerNavBar li a:hover,#topBarFrame #breadCrumbBar a:hover,#topMenuSub li a:hover,.brightAmber{color:#F58320;}
.headerSBG_CIB a:hover,.headerSBG_CIB .homePage #information h1 a:hover,.headerSBG_CIB .homePage #information h3 a:hover,.headerSBG_CIB #topBarFrame #breadCrumbBar a:hover,.headerSBG_CIB #footerContentBar a:hover,.headerSBG_CIB #footer #footerNavBar li a:hover,.headerSBG_CIB #footerLegalBar a:hover,.leftNav2Columns.option3 #products h1 a:hover,.headerSBG_CIB #topMenuSub li a:hover,.straw_CIB{color:#c4962e;}
.headerSBG_CIB a,.headerSBG_CIB a.link,.headerSBG_CIB a.visited,.leftNav2Columns.option3 #products h1 a,.cerulean_CIB{color:#006892;}
.headerSBG_Priv a:hover,.headerSBG_Priv .homePage #information h1 a:hover,.headerSBG_Priv .homePage #information h3 a:hover,.headerSBG_Priv #topBarFrame #breadCrumbBar a:hover,.headerSBG_Priv #leftNavMenu a:hover,.headerSBG_Priv #footerContentBar a:hover,.headerSBG_Priv #footer #footerNavBar li a:hover,.headerSBG_Priv #footerLegalBar a:hover,.headerSBG_Priv #topMenuSub li a:hover,.teal_Priv{color:#137b87;}
.headerSBG_Priv a,.headerSBG_Priv a.link,.headerSBG_Priv a.visited{color:#7d7076;}
.headerSBG_SFXTrade,.headerSBG_SFXTrade a{color:#A50000;}
.topNav li a,select,input[type=text],#scroller li a .scrollDot,.site_selector .current,.airForceBlue{color:#5f869F;}
h1, h1 a{font-weight:bold;padding:15px 0 5px 0;}
h2, h2 a{font-weight:bold;padding:10px 0;}
h3, h3 a{font-weight:bold;}
h4, h4 a{font-weight:bold;}
h1, h1 a,#topBarFrame #navBar li.activeTab a,.navyBlue{color:#000771;}
.headerSBG_CIB h1,.headerSBG_CIB h1 a,.headerSBG_Priv h1,.headerSBG_Priv h1 a,.altColor #topMenuSub li h1 a,.headerSBG_Priv #topBarFrame #navBar li.activeTab a,.headerSBG_CIB #topBarFrame #navBar li.activeTab a,.navyBlue_CIB{color:#002b5c;}
h3, h3 a,#topBarFrame #breadCrumbBar span.crum,#topBarFrame #breadCrumbBar .navRaquo,#shareTicker .shareInfo h2,#shareTicker .shareInfo .label,#footer #footerContentBar p,#tooltip.callout,#textSelector,.slateGrey{color:#787878;}
h2, h2 a,#topMenuSub p,.homePage #information h3 a,.homePage #information h3,.gunmetal{color:#232323;}
input[type=button],#topBarFrame #breadCrumbBar a,#footerContentBar a,#footerLegalBar a,.gunmetalLt{color:#424242;}
h4, h4 a,#footer #footerNavBar li.activeTab a,#footer #footerContentBar h1,#footer #footerContentBar h2,#footer #legalLinks .copyright,#topBarFrame #breadCrumbBar .breadcrumb,#shareTicker .shareInfo h4,.subPages #rightContent h1,.slateGreyLt{color:#acacac;}
/*ICE Editor Compatible Lower Case*/
#navBar li,#footerNavBar li,#topBarFrame .site-logo,#mainPromo,#catInfo,#shareTicker,.homePage #information,.settings a.settingIcon,ul#topNavMenu li,#topMenuSub ul.nav4banners,#topMenuSub  ul.nav4banners li,#footerNavBar ul.styleSelector,#footer #legalLinks,.left{float:left;}
#rightContent,.topNavSearch.actionBar,.internetBanking.actionBar,.settings,#topBarFrame #breadCrumbBar .shortLinks,#topBarFrame .site_selector,#topMenuSub li a.banners,#footer #movingForward,.right{float:right;}
.clearLeft,.clearleft{clear:left;}
.clearRight,.clearright{clear:right;}
.clearBoth,.clearboth{clear:both;}
.padR5,.padr5{padding-right:5px !important;}
.padR10,.padr10{padding-right:10px !important;}
.padR20,.padr20{padding-right:20px !important;}
.padL5,.padl5{padding-left:5px !important;}
.padL10,.padl10{padding-left:10px !important;}
.padL20,.padl20{padding-left:20px !important;}
.padT10,.padt10{padding-top:10px !important;}
.padT20,.padt20{padding-top:20px !important;}
.padB10,.padb10{padding-bottom:10px !important;}
.padB20,.padb20{padding-bottom:20px !important;}
.noMargin,.nomargin{margin:0px !important;}
.noPad,.nopad{padding:0px!important;}
.noTopPad,.notoppad{padding-top:0px !important;}
.noTopMargin,.notopmargin{margin-top:0px;}
.noRightMargin,.norightmargin{margin-right:0px;}
.noRightPad,.norightpad{padding-right:0px;}
.noBotMargin,.nobotmargin{margin-bottom:0px;}
.noBottomPad,.nobottompad{padding-bottom:0px;}
.noLeftMargin,.noleftmargin{margin-left:0px;}
.noLeftPad,.noleftpad{padding-left:0px;}
#leftNavMenu ul,#topMenuBar .navContent,ul#scroller,.hidden{display:none;}
.showBlock,.showblock{display:block;}
.showInline,.showinline{display:inline;}
.bold{font-weight:bold;}
.textJustify,.textjustify{text-align:justify;}
.textLeft,.textleft{text-align:left;}
.textRight,.textright{text-align:right;}
.textCenter,.textcenter{text-align:center !important;}
.noWrap,.nowrap{white-space:nowrap;}
.termsApply{font-style:italic;font-weight:bold;padding-top:10px;}
h4,h4 a,.termsApply,#topBarFrame #breadCrumbBar a,#topBarFrame #breadCrumbBar li,.p-s10{font-size:10px !important;}
h3, h3 a,#topMenuSub li p a,ul#topNavMenu li a,.p-s11{font-size:11px !important;}
h2, h2 a,#navBar li a,#footer #footerNavBar li a,.p-s12{font-size:12px !important;}
.p-s13{font-size:13px !important;}
.p-s14{font-size:14px !important;}
.p-s15{font-size:15px !important;}
.p-s16{font-size:16px !important;}
h1, h1 a,.p-s18{font-size:18px !important;}
hr.totalRule{border-style:double none;border-color:#acacac;border-width:1px;}
.borderRight{border-right:#acacac;border-width:0px 1px 0 0;border-style:none solid none none;}
.borderLeft{border-left:#acacac;border-width:0px 0 0 1px;border-style:none none none solid;}
.errorText{color:#F00;border:dashed 1px #F00;padding:5px 5px 5px 29px;text-align:left;background:url("../sharedImages/siteElements/icons-logos/vwarning.gif") 7px 3px no-repeat #e5dcb3;}
.window label.error, label.error{color:#FF0000;border:dashed 1px #FF0000;padding:2px 20px;text-align:left;background:#eee9d3;width:337px;margin:3px 5px;clear:both;}
.window label.error,.windowPerm label.error{display:block;}
.noticeText{color:#F00;border:dashed 1px #F00;padding:5px 5px 5px 29px;text-align:left;background:url("../sharedImages/siteElements/icons-logos/warning.gif") 7px 6px no-repeat #FF9;}
.noScript{border:dashed 1px #F00;padding:35px 5px 35px 35px;margin:30px 10px 1000px;text-align:left;background-color:#FCF8EB;}
.noScript .errorText{color:#F00;border:none !important;padding:0;text-align:left;background:none;/*background:url("../sharedImages/siteElements/icons-logos/vwarning.gif") 7px 3px no-repeat;*/}
}
@media screen{
/*Structure*/
#topBarFrame .siteBanner_web,.topNav,#topBarFrame #breadCrumbBar,#pageContent,#footerContentBar,#footerLegal,#settingsToolBar,#topMenu,#topMenuSub{margin:0 auto;width:990px;}
.fixed #topBarFrame{height:205px;position:fixed;top:0;width:100%;z-index:300;}
.scroll #topBarFrame{height:205px;position:relative;top:0;width:100%;z-index:300;}
.settings{height: 20px;margin: 2px 7px 2px 2px;width: 20px}
.settings a.settingIcon{width:20px;height:20px;display:block;background:url("../sharedImages/siteElements/icons-logos/transpIcons.png") no-repeat scroll -183px 0 transparent;;margin-right:10px;}
/*.settings a.settingIcon:hover{behavior:url(-ms-transform.htc);-moz-transform:rotate(9deg);-webkit-transform:rotate(9deg);-o-transform:rotate(9deg);-ms-transform:rotate(9deg);}*/
.settings a.settingIcon:hover,.settings a.over{background-position:-201px -1px}
.pinHeader{width:20px;height:20px;padding:5px 20px 5px 10px;}
a.pin, a.unPin{width:20px;height:20px;display:block;background:url("../sharedImages/siteElements/icons-logos/transpIcons.png") no-repeat scroll -100px -18px transparent;}
a.unPin{background-position:-64px -18px;}
a.pin:hover{background-position:-117px -18px;}
a.unPin:hover{background-position:-80px -18px;}
a.navColor{width:20px;height:20px;background-color:#424242;}
.altColor a.navColor{background-color:#60859F;}
#settingsToolBar #tools,#settingsToolBar .pin,#settingsToolBar .unPin,#settingsToolBar .textSize,#settingsToolBar .navColor{float:right;}
#settingsToolBar .pin,#settingsToolBar .unPin,#settingsToolBar .textSize,#settingsToolBar .navColor{margin-right:20px;}
#settingsToolBar ul.textSize,#topBarFrame ul,ul.styleSelector,#breadCrumbBar ul,#shareTicker .shareInfo li,.homePage #information ul#accoladeList li,.leftNav2ColSmlRightBar.maxi #rightContent ul.rtBanners, ul.crossBanners,#footer ul,ul#leftNavMenu li, ul#searchResults{list-style:none outside none;}
#topBarFrame #topBar{height:180px;background:url("../sharedImages/siteElements/masterHeads/headerSBG_Bkg_2011.jpg") repeat-x scroll 0 0 transparent;background-position:0px 0;}
.headerSBG_Priv #topBarFrame #topBar{background-position:0px -200px;}
.headerSBG_CIB #topBarFrame #topBar{background-position:0px -100px;}
#topBarFrame .siteBanner_web{background:url("../sharedImages/siteElements/masterHeads/headerSBG_2011.jpg") no-repeat scroll 0 0 transparent;height:100px;}
.headerSBG_Also #topBarFrame .siteBanner_web{background:url("../sharedImages/siteElements/masterHeads/headerSBG_Also_2011.jpg") no-repeat scroll 0 0 transparent;height:100px;}
.headerSBG_Lesotho #topBarFrame .siteBanner_web{background:url("../sharedImages/siteElements/masterHeads/headerSBG_Ls_2011.jpg") no-repeat scroll 0 0 transparent;height:100px;}
.headerSBG_Nigeria #topBarFrame .siteBanner_web{background:url("../sharedImages/siteElements/masterHeads/headerSBG_Ng_2011.jpg") no-repeat scroll 0 0 transparent;height:100px;}
.headerSBG_CIB #topBarFrame .siteBanner_web{background:url("../sharedImages/siteElements/masterHeads/headerSBG_CIB_2011.jpg") no-repeat scroll 0 0 transparent;height:100px;}
.headerSBG_Priv #topBarFrame .siteBanner_web{background:url("../sharedImages/siteElements/masterHeads/headerSBG_Priv_2011.jpg") no-repeat scroll 0 0 transparent;height:100px;}
#topBarFrame .site-logo a{display:block;height:99px;width:300px;}
.headerSBG_Lesotho #topBarFrame .site-logo a{display:block;height:99px;width:412px;}
.headerSBG_Nigeria #topBarFrame .site-logo a{display:block;height:99px;width:342px;}
#topBarFrame .site_global{padding:45px 0 0 19px;float:left;}
#topBarFrame .site_global a{color:#004795;}
#topBarFrame .site_global li.active,#topBarFrame .site_selector a:hover{color:#c0d6e3;}
#topBarFrame .site_selector .current{padding:5px 0px 5px 190px;display:block;}
/*#topBarFrame .site_selector ul{padding:0 30px 0 20px;height:62px;}*/
#topBarFrame .site_selector a{color:#004795;display:block;padding:1px 8px;}
#topBarFrame .site_selector a:hover{background-color:#004795;}
#topBarFrame .site_selector #scrollWrap {height: 65px;position: relative;overflow: hidden;width: 377px;}
#topBarFrame .site_selector #scroller{width:100%;padding: 0 5px 0 0;float:right;margin: 0;position: relative;height: 100%; top:0;width:160px;}
#topBarFrame .site_selector #scroller li{display:block;cursor:hand;cursor:pointer;padding:0;line-height:12px;}
#topBarFrame .site_selector #scroller li a{display:block;padding:2px 0 2px 5px;}
#topBarFrame .site_selector #scrollWrap a.scrollDot{position:absolute; display:block; width:2px; height:2px; background-color:#295993;padding:0px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px; }
#topBarFrame .site_selector #scrollWrap a.scrollDot:hover,#scrollWrap a.scrollDot.hover{background-color:#6D8AAC;border:2px solid #4394F7; ;padding:1px;}

#scrollWrap .AR.scrollDot{top:52px; left:62px;}/*Argentina*/
#scrollWrap .BR.scrollDot{top:45px; left:68px;}/*Brazil*/
#scrollWrap .US.scrollDot{top:13px; left:50px;}/*United States of America*/
#scrollWrap .CN.scrollDot{top:17px; left:158px;}/*China*/
#scrollWrap .HK.scrollDot{top:21px; left:155px;}/*Hong Kong*/
#scrollWrap .IM.scrollDot{top:1px; left:90px;}/*Isle of Man*/
#scrollWrap .JP.scrollDot{top:8px; left:173px;}/*Japan*/
#scrollWrap .JE.scrollDot{top:10px; left:89px;}/*Jersey*/
#scrollWrap .RU.scrollDot{top:1px; left:111px;}/*Russia*/
#scrollWrap .SG.scrollDot{top:35px; left:152px;}/*Singapore*/
#scrollWrap .TW.scrollDot{top:23px; left:160px;}/*Taiwan*/
#scrollWrap .TR.scrollDot{top:11px; left:108px;}/*Turkey*/
#scrollWrap .AE.scrollDot{top:20px; left:121px;}/*United Arab Emirates*/
#scrollWrap .UK.scrollDot{top:7px; left:90px;}/*United Kingdom*/
#scrollWrap .AO.scrollDot{top:39px; left:101px;}/*Angola*/
#scrollWrap .BW.scrollDot{top:44px; left:106px;}/*Botswana*/
#scrollWrap .CD.scrollDot{top:32px; left:106px;}/*Congo*/
#scrollWrap .GH.scrollDot{top:29px; left:90px;}/*Ghana*/
#scrollWrap .KE.scrollDot{top:32px; left:113px;}/*Kenya*/
#scrollWrap .LS.scrollDot{top:48px; left:108px;}/*Lesotho*/
#scrollWrap .MW.scrollDot{top:41px; left:109px;}/*Malawi*/
#scrollWrap .MU.scrollDot{top:44px; left:123px;}/*Mauritius*/
#scrollWrap .MZ.scrollDot{top:43px; left:110px;}/*Mozambique*/
#scrollWrap .NA.scrollDot{top:42px; left:113px;}/*Namibia*/
#scrollWrap .NG.scrollDot{top:26px; left:95px;}/*Nigeria*/
#scrollWrap .ZA.scrollDot{top:50px; left:104px;}/*South Africa*/
#scrollWrap .SZ.scrollDot{top:48px; left:111px;}/*Swaziland*/
#scrollWrap .TZ.scrollDot{top:36px; left:111px;}/*Tanzania*/
#scrollWrap .UG.scrollDot{top:29px; left:112px;}/*Uganda*/
#scrollWrap .ZM.scrollDot{top:42px; left:108px;}/*Zambia*/
#scrollWrap .ZW.scrollDot{top:45px; left:109px;}/*Zimbabwe*/
#topBarFrame #navBar{height:35px;padding-top:10px;
background:#edf2f6;/* Old browsers */
background:-moz-linear-gradient(top,#edf2f6 0%,#dbe4eb 50%,#d3dee4 100%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf2f6), color-stop(50%,#dbe4eb), color-stop(100%,#d3dee4));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#edf2f6 0%,#dbe4eb 50%,#d3dee4 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#edf2f6 0%,#dbe4eb 50%,#d3dee4 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#edf2f6 0%,#dbe4eb 50%,#d3dee4 100%);/* IE10+ */
background:linear-gradient(top,#edf2f6 0%,#dbe4eb 50%,#d3dee4 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf2f6', endColorstr='#d3dee4',GradientType=0 );/* IE6-9 */}
#topBarFrame #navBar{border-top:1px solid #eee9d3;}
.headerSBG_CIB #topBarFrame #navBar{border-top:1px solid #e5dcb3;}
.headerSBG_Priv #topBarFrame #navBar{border-top:1px solid #c2ac97;}
#topBarFrame .topNav{height:35px;}
#navBar ul,#footerNavBar ul{padding-left:25px;}
#footerNavBar ul{padding-top: 6px;}
#navBar li a{display:block;}
#topBarFrame #navBar li a,.actionBar,#information a.moreInfo:hover,.leftNav2Columns.option3 #products .portletItem:hover,ul.countryContacts ul li.hover,#topMenuBar{
background:#f1f1f1;/* Old browsers */
background:-moz-linear-gradient(top,#f1f1f1 0%,#f9f9f9 35%,#eaeaea 63%,#fdfdfd 100%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(35%,#f9f9f9), color-stop(63%,#eaeaea), color-stop(100%,#fdfdfd));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#f1f1f1 0%,#f9f9f9 35%,#eaeaea 63%,#fdfdfd 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#f1f1f1 0%,#f9f9f9 35%,#eaeaea 63%,#fdfdfd 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#f1f1f1 0%,#f9f9f9 35%,#eaeaea 63%,#fdfdfd 100%);/* IE10+ */
background:linear-gradient(top,#f1f1f1 0%,#f9f9f9 35%,#eaeaea 63%,#fdfdfd 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fdfdfd',GradientType=0 );/* IE6-9 */}
#topBarFrame #navBar li a{padding:9px 10px 9px; }
#topBarFrame #navBar li a,#topBarFrame #navBar li a{
border-top:1px solid #c0c7cd;
border-right:1px solid #9ca3a9;
border-left:1px solid #b7c0c7;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomright:0px;
-moz-border-radius-bottomleft:0px;
-webkit-border-radius:6px 6px 0 0;
border-radius:6px 6px 0 0;}
#topBarFrame #navBar li.activeTab a{
border-top:1px solid #455e7c;
border-right:1px solid #00076b;
border-left:1px solid #405b78;
border-bottom:1px solid #f5f5f5;
background:#ffffff;/* Old browsers */
background:-moz-linear-gradient(top,#ffffff 1%,#fafafa 50%,#f5f5f5 100%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(50%,#fafafa), color-stop(100%,#f5f5f5));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#ffffff 1%,#fafafa 50%,#f5f5f5 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#ffffff 1%,#fafafa 50%,#f5f5f5 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#ffffff 1%,#fafafa 50%,#f5f5f5 100%);/* IE10+ */
background:linear-gradient(top,#ffffff 1%,#fafafa 50%,#f5f5f5 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 );/* IE6-9 */}
.headerSBG_CIB #topBarFrame #navBar li.activeTab a{
border-top:1px solid #002b5c;
border-right:1px solid #002857;
border-left:1px solid #002d61;}
.headerSBG_Priv #topBarFrame #navBar li.activeTab a{
border-top:1px solid #8d857c;
border-right:1px solid #878077;
border-left:1px solid #87807b;}
#topBarFrame #navBar li a:hover,ul#topNavMenu li a:hover,ul#topNavMenu li a.active{color:#fff;
border-top:1px solid #434b96;
border-right:1px solid #3f4792;
border-bottom:1px solid #010a71;
border-left:1px solid #3f4895;
background:#236097;/* Old browsers */
background:-moz-linear-gradient(top,#236097 0%,#010a71 100%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#236097), color-stop(100%,#010a71));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#236097 0%,#010a71 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#236097 0%,#010a71 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#236097 0%,#010a71 100%);/* IE10+ */
background:linear-gradient(top,#236097 0%,#010a71 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#236097', endColorstr='#010a71',GradientType=0 );/* IE6-9 */}
.headerSBG_CIB #topBarFrame #navBar li a:hover{border-top:1px solid #455e7c;border-right:1px solid #4a647f;border-bottom:1px solid #064054;border-left:1px solid #405b78;}
ul#topNavMenu li a.active{position: relative;}
.headerSBG_CIB #topBarFrame #navBar li a:hover,.headerSBG_CIB ul#topNavMenu li a:hover,.headerSBG_CIB ul#topNavMenu li a.active{color:#fff;
background:#4f8899 ;/* Old browsers */
background:-moz-linear-gradient(top,#4f8899 0%,#064054 100%) ;/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f8899), color-stop(100%,#064054)) ;/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#4f8899 0%,#064054 100%) ;/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#4f8899 0%,#064054 100%) ;/* Opera 11.10+ */
background:-ms-linear-gradient(top,#4f8899 0%,#064054 100%) ;/* IE10+ */
background:linear-gradient(top,#4f8899 0%,#064054 100%) ;/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f8899', endColorstr='#064054',GradientType=0 ) ;/* IE6-9 */}
.headerSBG_Priv #topBarFrame #navBar li a:hover,.headerSBG_Priv ul#topNavMenu li a:hover,.headerSBG_Priv ul#topNavMenu li a.active{color:#fff;
border-top:1px solid #a6a39e;
border-right:1px solid #a3a09b;
border-bottom:1px solid #867f75;
border-left:1px solid #a2a19c;
background:#c6bdae;/* Old browsers */
background:-moz-linear-gradient(top,#c6bdae 0%,#867f75 100%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#c6bdae), color-stop(100%,#867f75));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#c6bdae 0%,#867f75 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#c6bdae 0%,#867f75 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#c6bdae 0%,#867f75 100%);/* IE10+ */
background:linear-gradient(top,#c6bdae 0%,#867f75 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6bdae', endColorstr='#867f75',GradientType=0 );/* IE6-9 */}
.actionBar{height:23px;padding:2px;border:1px solid #b4bbc3;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-bottomleft:4px;
-webkit-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;}
input[type=text]{padding:3px 8px;
border-top:1px solid #abadb3;
border-right:1px solid #dbdfe6;
border-bottom:1px solid #e3e9ef;
border-left:1px solid #e2e3ea;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-bottomleft:3px;
-webkit-border-radius:3px 3px 3px 3px;
border-radius:3px 3px 3px 3px;}
#navBar .actionBar input[type=text]{width:107px;}
#navBar input[type=text]:focus{width:250px;color:#606892;}
.actionBar input[type=submit].search{background:url("../sharedImages/siteElements/icons-logos/actionBarIcons.png") no-repeat scroll -146px 0 transparent;border:medium none;cursor:pointer;height:20px;width:20px;}
.headerSBG_CIB .actionBar input[type=submit].search,.headerSBG_Priv .actionBar input[type=submit].search{background-position:-98px 0;}
.actionBar input[type=submit].search:hover{border-left:1px solid #dbdfe6;background-position:-163px 0;}
.headerSBG_CIB .actionBar input[type=submit].search:hover{background-position:-115px 0;}
.headerSBG_Priv .actionBar input[type=submit].search:hover{background-position:-131px 0;}
.actionBar input[type=submit].go{background:url("../sharedImages/siteElements/icons-logos/actionBarIcons.png") no-repeat scroll -146px -16px transparent;border:medium none;cursor:pointer;height:20px;width:20px;}
.headerSBG_CIB .actionBar input[type=submit].go,.headerSBG_Priv .actionBar input[type=submit].go{background-position:-98px -16px;}
.actionBar input[type=submit].go:hover{border-left:1px solid #dbdfe6;background-position:-163px -16px;}
.headerSBG_CIB .actionBar input[type=submit].go:hover{background-position:-115px -16px;}
.headerSBG_Priv .actionBar input[type=submit].go:hover{background-position:-131px -16px;}
#topBarFrame #blankBar{height:5px;border-bottom:1px solid #efefef;background-color:#fff;}
.hpgVer2 #topBarFrame #blankBar{height:0px;border-bottom:1px solid #efefef;background-color:#fff;}
#topBarFrame #blankBar.expanded{background-color:#EFEFEF;height: 55px;opacity: 0.9;}
#topBarFrame #crumbBar{height:48px;background-color:#fff;}
#topBarFrame #crumbBar.expanded{opacity: 0.9;opacity: 0.9;}
#topBarFrame #breadCrumbBar{border-bottom:1px solid #efefef; height:32px;}
#topBarFrame #breadCrumbBar .breadcrumb{padding:15px 0 0 25px;}
#topBarFrame #breadCrumbBar .navRaquo{padding:0 10px;}
#topBarFrame #breadCrumbBar .shortLinks{padding:10px 0 0 0;color:#ababa9;}
#topBarFrame #breadCrumbBar li{float:left;}
.module:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
/* float clearing for IE6 */* html .module{height:1%;overflow:visible;}
/* float clearing for IE7 */* + html .module{min-height:1%;}
/* Breadcrumb Styles---------------------------------------------------------------------*/
#breadCrumbHolder{float:left;width:550px;}
.breadCrumb{margin:0;padding:0;float:left;display:block;height:21px;overflow:hidden;width:525px;padding:5px 0 0 0;background:#fff;}
.breadCrumb ul{margin:0;padding:0;height:21px;display:block;}
.breadCrumb li{display:block;float:left;position:relative;height:21px;overflow:hidden;line-height:21px;margin:0px 6px 0 0;padding:0px 10px 0 0;background:url("../sharedImages/siteElements/icons-logos/Chevron.gif") no-repeat 100% 0;}
.breadCrumb li div.chevronOverlay{position:absolute;right:0;top:0;z-index:2;}
.breadCrumb li span{display:block;overflow:hidden;}
.breadCrumb li a{display:block;position:relative;height:21px;line-height:21px;overflow:hidden;float:left;}
.breadCrumb li.first a{height:12px !important;text-indent:-1000em;width:16px;padding:0;margin-top:4px;overflow:hidden;background:url("../sharedImages/siteElements/icons-logos/actionBarIcons.png") no-repeat -226px -4px;}
.headerSBG_CIB .breadCrumb li.first a,.headerSBG_Priv .breadCrumb li.first a{background-position:-210px -4px;}
.breadCrumb li.first a:hover{background-position:-178px -20px;}
.headerSBG_CIB .breadCrumb li.first a:hover{background-position:-194px -20px;}
.headerSBG_Priv .breadCrumb li.first a:hover{background-position:-194px -4px;}
.breadCrumb li.last{background:none;margin-right:0;padding-right:0;color:#787878;}
.chevronOverlay{display:none;background:url("../sharedImages/siteElements/icons-logos/ChevronOverlay.png") no-repeat 100% 0;width:13px;height:20px;}
#topBarFrame #breadCrumbBar .shortLinks li{border-right:1px solid #d4d4d4;padding:0 7px;}
#topBarFrame #breadCrumbBar .shortLinks li.last{border-right:none;padding-right:2px;}
.maxi #leftNav{width:180px;padding-right:10px;clear:left;float:left;}
.mini #leftNav{width:150px;padding-right:10px;clear:left;float:left;}
.mini #leftNav:hover{position:absolute;width:250px;z-index:200;
/* Fallback for web browsers that doesn't support RGBa */
background:#fff transparent;
/* RGBa with 0.6 opacity */
background:rgba(255, 255, 255, 0.8);
/* For IE 5.5 - 7*/
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
/* For IE 8*/
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";}
#leftNavMenu,#leftNavMenu ul,#leftNavMenu li{margin:0;padding:0;}

#leftNavMenu li{line-height:200%;border-top:1px solid #ebebeb;/*;margin-top:1px;background:#eee;*/position:relative;width:100%;}
* html #leftNavMenu li{float:left;display:inline;}/*#leftNavMenu li:hover{background-color:#656565;}  IE leaves a blank space where span is added so this is to avoid that */
#leftNavMenu li a{padding-left:25px;display:block;}
#leftNavMenu a:hover{background:#fff;}
#leftNavMenu a.active{background:#efefef;}
#leftNavMenu li span{float:left;position:absolute;top:5px;left:5px;width:13px;height:13px;cursor:auto;font-size:0;}
#leftNavMenu li span,#leftNavMenu li span.collapsed{background:url("../sharedImages/siteElements/icons-logos/actionBarIcons.png") no-repeat scroll 0 -16px transparent;} 
.headerSBG_CIB #leftNavMenu li span,.headerSBG_CIB #leftNavMenu li span.collapsed{background-position:-26px -16px;} 
.headerSBG_Priv #leftNavMenu li span,.headerSBG_Priv #leftNavMenu li span.collapsed{background-position:-52px -16px;} 
#leftNavMenu li span:hover,#leftNavMenu li span.collapsed:hover{background-position:-13px -16px;background-color:#fff;} 
.headerSBG_CIB #leftNavMenu li span:hover,.headerSBG_CIB #leftNavMenu li span.collapsed:hover{background-position:-39px -16px;} 
.headerSBG_Priv #leftNavMenu li span:hover,.headerSBG_Priv #leftNavMenu li span.collapsed:hover{background-position:-26px -16px;} 
#leftNavMenu li span.expanded{background:url("../sharedImages/siteElements/icons-logos/actionBarIcons.png") no-repeat scroll 0 -29px transparent;}
.headerSBG_CIB #leftNavMenu li span.expanded{background-position:-26px -29px;}
.headerSBG_Priv #leftNavMenu li span.expanded{background-position:-52px -29px;}
#leftNavMenu li span.expanded:hover{background-position:-13px -29px;}
.headerSBG_CIB #leftNavMenu li span.expanded:hover{background-position:-39px -29px;}
.headerSBG_Priv #leftNavMenu li span.expanded:hover{background-position:-26px -29px;}
#leftNavMenu li li a{line-height:15px;padding:5px 0 5px 40px;}/* second level */
#leftNavMenu li li span{left:19px;}
#leftNavMenu li li li a{padding-left:54px;}/* third level */
#leftNavMenu li li li span{left:34px;}
#topMenuBar{border-bottom: 1px solid #EFEFEF;}

ul#topNavMenu li a{  border-color: transparent #E0E0E0 transparent transparent;border-right: 1px solid #E0E0E0;border-style: solid;border-width: 1px;color: #004795;display: block;padding: 9px 10px;}
.headerSBG_CIB ul#topNavMenu li a{color:#006892;}
.headerSBG_Priv ul#topNavMenu li a{color:#7d7d67;}
ul#topNavMenu li ul{position:absolute; width:990px;height:200px; background:#fff;opacity: 0.9;padding-top: 50px;}
ul#topNavMenu li ul li a{border:none;}
#topMenuSub{display:none;background-color:#5f869f;opacity: 0.9;padding: 10px 10px 0;width: 970px;}
.headerSBG_CIB #topMenuSub{background-color:#608592;}
.headerSBG_Priv #topMenuSub{background-color:#acacac;}
.altColor #topMenuSub{background-color:#787878;}
#topMenu .arrowUpCb{border-color: transparent transparent #5f869f;border-style: solid;border-width:15px;display: block;height: 0;left: 38%;overflow: hidden;position: absolute;top: 9px;width: 0;opacity: 0.9;}
.headerSBG_CIB #topMenu .arrowUpCb{border-color: transparent transparent #608592;}
.headerSBG_Priv #topMenu .arrowUpCb{border-color: transparent transparent #acacac;}
.altColor #topMenu .arrowUpCb{border-color: transparent transparent #787878;}
#topMenuSub #closeMenu{clear:both;}
#topMenuSub #closeMenu a{border-color: transparent transparent #004795;border-style: solid;border-width: 10px;display: block;height: 10px;margin: 0 auto;opacity: 0.4;width: 0;}
.headerSBG_CIB #topMenuSub #closeMenu a{border-color: transparent transparent #034A63;}
.headerSBG_Priv #topMenuSub #closeMenu a{border-color: transparent transparent #8d857c;}
.altColor #topMenuSub #closeMenu a{border-color: transparent transparent #232323;}
#topMenuSub #closeMenu a:hover{opacity:1;}
#topMenuSub ul.linkList li,#topMenuSub ul.linkList li a{padding:1px 3px 1px 1px;}
#topMenuSub ul.nav4col li{float: left;padding: 0 10px 0 10px;width: 220px;}
#topMenuSub ul.nav4col li ul li{padding-left:0px;}
#topMenuSub  ul.nav2col,#topMenuSub  ul.nav2banners{width: 400px;float: left;}
#topMenuSub  ul.nav2col li{float:left;width:50%;}
#topMenuSub  ul.nav4banners li a{padding:0px 9px 9px 9px;}
#topMenuSub div.nav4banners{background-color:#fff;}
#topMenuSub div.nav4banners h1{float:left;}
#topMenuSub div.nav4banners h1.heading a{padding:0 10px;}
#topMenuSub div.nav4banners p{clear: left;margin-bottom: 0;padding: 0 10px;width: 735px;}
#topMenuSub #dealsSearch h1{padding-bottom:12px;}
#topMenuSub #dealsSearch p{clear: left;margin-bottom: 0;padding: 6px 10px;width: auto;}
#topMenuSub ul li a{color:#fff;display:block;}
#topMenuSub li h1 a{color:#004795;display: block;font-size: 16px;font-weight: bold;padding: 0;}
.headerSBG_CIB #topMenuSub ul li h1 a,.darkSky{color:#034a63;}
.headerSBG_Priv #topMenuSub ul li h1 a,.slateGrey{color:#787878;}
#topMenuSub li h2 a{font-size:11px;display: block; font-weight:normal;}
#topMenuSub ul li ul li a:hover,p.textRight a:hover,#topMenuSub li h2 a:hover{background-color:#034A63;}
.altColor #topMenuSub ul li ul li a:hover{background-color:#232323;}
#topMenuSub li p{height: 31px;overflow: hidden; margin-bottom:0;}
#topMenuSub li p a{display:inline;padding:0; color:#fff;}
p.textRight a{padding:4px 4px 1px !important;}
#topMenuSub #dealsSearch{width:175px;height:275px;float:right;}
#topMenuSub input[type=text]{width:146px;}
#topMenuSub select{width:164px;}
#topMenuSub .portlet{border: 1px solid #EBEBEB;padding: 0 10px 10px 10px; overflow:hidden;}
.hpgVer2.fixed #pageContentFrame{position:relative;top:235px;}
.hpgVer2.scroll #pageContentFrame{padding-top:20px;position:inherit;}
.fixed #pageContentFrame{position:relative;top:205px;}
.fixed #pageContentFrame.expanded{position:relative;top:275px;}
.scroll #pageContentFrame.expanded{padding-top:85px;position:inherit;}
.scroll #pageContentFrame{padding-top:20px;position:inherit;}
.homePage.mini #content{width:830px;float:right;}
.homePage.maxi #content{width:790px;float:right;}
.hpgVer2 .homePage #content{clear:both;}
.homePage.mini #shareTicker .shareInfo{width:602px;}
.homePage.maxi #mainPromo,.homePage.maxi #mainPromo img.banner{width:565px;}
.hpgVer2 #mainPromo,.hpgVer2 #mainPromo img.banner{width: 737px;height: 195px;}
.homePage.maxi #shareTicker .shareInfo{width:790px;}
.hpgVer2 #shareTicker .shareInfo{width:990px;}
.homePage #rightContent{width:220px;}
.hpgVer2 .homePage #rightContent{width:250px;}
.homePage #rightContent #aboutUsInfo .portletText{height:95px;overflow:hidden;padding-right: 8px;}
.homePage #rightContent #aboutUsInfo .portlet a.articleLink{padding:5px 0 0}
.homePage #rightContent .internetBanking select,#footerNavBar .internetBanking select{width:187px;}
.hpgVer2 .homePage #rightContent .internetBanking select,#footerNavBar .internetBanking select{width:200px;}
.homePage #shareTicker .tickerHeader{float:left;width: 120px; height:30px;}
.homePage #shareTicker .shareInfo{padding:5px 0;white-space:nowrap;overflow:hidden;
border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;
background:#f3f1e5;/* Old browsers */
background:-moz-linear-gradient(top,#ffffff 0%,#f3f1e5 44%,#f3f1e5 64%,#ffffff 100%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(44%,#f3f1e5), color-stop(64%,#f3f1e5), color-stop(100%,#ffffff));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#ffffff 0%,#f3f1e5 44%,#f3f1e5 64%,#ffffff 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#ffffff 0%,#f3f1e5 44%,#f3f1e5 64%,#ffffff 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#ffffff 0%,#f3f1e5 44%,#f3f1e5 64%,#ffffff 100%);/* IE10+ */
background:linear-gradient(top,#ffffff 0%,#f3f1e5 44%,#f3f1e5 64%,#ffffff 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f1e5',GradientType=0 );/* IE6-9 */}
#shareTicker .shareInfo li{border-right:medium double #ACACAC;display:inline;padding:0 10px;}
#shareTicker .shareInfo h2{font-weight:bold;padding:0px;}
#shareTicker .shareInfo h4{font-size:8px;}
#shareTicker .shareInfo #ticker{float:right;width:650px;height:25px;overflow: hidden;}
.hpgVer2 #shareTicker{padding:25px 0 0 0}
.hpgVer2 #shareTicker .shareInfo #ticker{width:840px;}
#shareTicker .shareInfo .up,.grassGreen{color:#6e9e41;}
#shareTicker .shareInfo .down,.cranberry{color:#ad3352;}
#shareTicker .shareInfo .even,.limeGreen{color:#b3b935;}
#shareTicker ul.marquee{padding: 8px 15px; position: relative;}
.homePage #information.collapsed{width:100%;height:230px;overflow:hidden;}
.homePage #information.expanded{width:100%;height:auto;}
.homePage #information.collapsed .portletItem{height:150px;overflow:hidden;}
.homePage #information.expanded .portletItem,.homePage #information.expanded #accolades .accoladeItems{height:auto;}
.homePage #information.collapsed #accolades .accoladeItems{height:119px;}
#information a.moreInfo{display:block;line-height:30px;text-align:center;border:1px solid #fff;
-moz-border-radius-topleft:4px;
-moz-border-radius-topright:4px;
-moz-border-radius-bottomright:4px;
-moz-border-radius-bottomleft:4px;
-webkit-border-radius:4px 4px 4px 4px;
border-radius:4px 4px 4px 4px;
background:#ffffff;/* Old browsers */
background:-moz-linear-gradient(top,#ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);/* FF3.6+ */
background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);/* IE10+ */
background:linear-gradient(top,#ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );/* IE6-9 */}
#information a.moreInfo:hover{border:1px solid #E3E3E3;}
.homePage #information h3 a,.homePage #information h3{font-weight:bold;height:23px;overflow:hidden;padding:5px 0 8px 0;}
.homePage #information.collapsed .portletText{height:80px;overflow:hidden;}
a.articleLink{display:block;padding:10px 0 15px 0;text-align: right;}
.homePage #information #deals,.homePage #information #news{border-right:1px solid #D2D2D2;float:left;padding-right:15px;}
.homePage.mini #information #deals,.homePage.mini #information #news{width:278px;}
.homePage.maxi #information #deals,.homePage.maxi #information #news{width:260px;}
.hpgVer2 #information #deals,.hpgVer2 #information #news{width:346px;}
.leftNav1Column.option1 #information #products .portletItem{width:248px; height:135px; overflow:hidden;float:left;padding:0 15px 15px 0;}/*TEST STYLES FOR PRODUCT PAGE*/
.leftNav1Column.option2 #information #products .portletItem{float:left;padding:0 15px 15px 0;}
.leftNav2Columns.option3 #products .portletText{display:none; clear:both;}
.leftNav2Columns.option3 #information #products{padding-top:40px;}
.leftNav2Columns.option3 #products h1{padding:15px 0;}
.leftNav2Columns.option3 #products h1 a{display: block;padding-top: 0;font-weight: normal; float:left;}
.leftNav2Columns.option3 #products .portletItem{padding: 10px 5px;border-top: 1px solid #EBEBEB;} 
.leftNav1Column.mini #content{width:830px;}
.leftNav1Column.maxi #content{width:790px;}
.leftNav2ColSmlRightBar.maxi #pageHeader{width:790px;}
.hpgVer2 .leftNav2ColSmlRightBar.maxi #pageHeader{width:760px;}
.leftNav2ColSmlRightBar.maxi #content{width:550px; padding-left:10px;float:left;}
.hpgVer2 .leftNav2ColSmlRightBar.maxi #content{width:750px; padding:0 0 20px 10px;float:left;}
.leftNav2ColSmlRightBar.maxi #rightContent{width:220px;}
.leftNav2ColSmlRightBar.maxi #rightContent ul.rtBanners li{padding: 15px 0 0 0;text-align: right;}
.leftNav2ColSmlRightBar.maxi #rightContent input[type=text]{width:179px;}
.leftNav2ColSmlRightBar.maxi #rightContent select{width:197px;}
.leftNav2ColSmlRightBar.maxi #rightContent .portlet{border: 1px solid #EBEBEB;padding: 0 10px 10px 10px; margin:0px 0 15px; 0; overflow:hidden;
-moz-border-radius-topleft:6px;
-moz-border-radius-topright:6px;
-moz-border-radius-bottomright:6px;
-moz-border-radius-bottomleft:6px;
-webkit-border-radius:6px 6px 6px 6px;
border-radius:6px 6px 6px 6px;}

#rightContent .listedItem ul{padding-left:15px;}
#rightContent .listedItem li{padding:5px 0px 10px 0px;}
.hpgVer2 .leftNav2ColSmlRightBar.maxi #rightContent .portlet{}
.homePage #information #news{padding-left:15px;}
.hpgVer2 .homePage #information #accolades,.hpgVer2 .homePage #rightContent #aboutUsInfo{float:right;width:230px;}
.homePage #information #accolades,.homePage #rightContent #aboutUsInfo{float:right;width:210px;}
.homePage #information #accolades h3{height:auto;padding:0;}
.homePage #information #accolades p{margin-bottom:12px}
.homePage #information #accolades .accoladeItems{margin:5px 0 20px 0;overflow:hidden;}
.homePage #information #accolades ul#accoladeList{padding-left:0}
.leftNav2Columns .leftNavColumn1,.leftNav2Columns .leftNavColumn2{width:395px;}
.leftNav2Columns #products div.portletItem{clear:left;}
#content ul{padding-left:15px;}
#content ul.product{padding-left:25px;}
#products ul.product{list-style: none outside none; padding-left:0px}
#products ul.product li{border-bottom: 1px solid #D2D2D2;border-top: 1px solid #D2D2D2;float: left;margin: 5px;padding: 5px 0;}
#products ul.product a{display: block;height: 25px;overflow: hidden;padding: 10px;width: 160px;}
#products ul.product a span{display:block; float:left;}
#products ul.product a:hover{background-color:#f9f5ea; }
#products ul.product a .prodText{padding-left: 5px;width: 120px;}
ul#searchResults{padding-left:0px;}
ul#searchResults li{border-top: 1px solid #EBEBEB; padding:10px 0 10px 0;}
ul#searchResults h4,ul#searchResults p{padding-left:50px}
ul#searchResults h2 .articleIcon{float:left;margin-right: 17px;}
ul#searchResults h2 a{display: block;}
ul#searchResults h4{padding-bottom: 10px;}
ul.countryContacts,ul.countryContacts ul{list-style: none outside none;}
ul.countryContacts li{}
ul.countryContacts li h3 a{border-top: 1px solid #ACACAC;display: block;padding: 10px 0;}
ul.countryContacts ul{display: none;padding-left: 0 !important;}
ul.countryContacts ul li{border-bottom: 1px solid #ACACAC;padding-bottom: 10px;}
ul.countryContacts ul li .country,#rightContent #mediaRelContact ul.countryContacts .country{color: #000000;display: block;font-weight: bold;padding: 5px 0;}
ul.countryContacts ul li .person,ul.countryContacts ul li .phone,ul.countryContacts ul li .email{display: inline-block;padding: 5px 0;}
ul.countryContacts ul li .person{width: 220px;}
ul.countryContacts ul li .phone{width: 210px;}
ul.countryContacts ul li .email{width:90px;}
.hpgVer2 ul.countryContacts ul li .person{width: 280px;}
.hpgVer2 ul.countryContacts ul li .phone{width: 280px;}
.hpgVer2 ul.countryContacts ul li .email{width:90px;}
ul.countryContacts ul li.hover{}
#rightContent #mediaRelContact ul.countryContacts li{padding-bottom:20px;}
#rightContent #mediaRelContact ul.countryContacts .country,#rightContent #mediaRelContact ul.countryContacts .person,#rightContent #mediaRelContact ul.countryContacts .phone,#rightContent #mediaRelContact ul.countryContacts .email{display:block;padding: 3px 0;}
#rightContent #mediaRelContact ul.countryContacts .phone{}
{padding-bottom:20px;}
#bottomBanners{border-top:1px solid #D2D2D2;clear:both;padding:30px 0 40px;text-align:justify;}
#bottomBanners .crossBanners li{padding:0 10px;float:left;}
#bottomBanners .crossBanners li.first{padding-left:0;}
#bottomBanners .crossBanners li.last{padding-right:0;}
#bottomBanners .crossBanners a{display:block;}
#bottomBanners .crossBanners img{width:232px;height:122px;}
#footer #footerNavBar{background-color:#e1eaef;height:47px;border-top:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;}
#footer .topNav{padding-top:10px;}
#footer #footerNavBar li a{padding:9px 20px 9px 0;}
#footer #footerContentBar{padding:20px 0 30px 0;}
#footer #footerContentBar .portlet{float:left;width:230px;height:175px;}
#footer #footerContentBar h3{padding:5px 0 17px 0;}
#footer #footerContentBar li{padding:5px 0;}
#footer #footerContentBar #socialMedia,#footer #footerContentBar #customerCare,#footer #footerContentBar #relatedLinks{border-right:1px solid #d2d2d2;}
#footer #footerContentBar #customerCare{padding-left:20px;}
#footer #footerContentBar #relatedLinks{padding-left:20px;}
#footer #footerContentBar #newToStandardBank{padding-left:20px;}
#footer #footerContentBar #newToStandardBank p{height:73px;margin:0;overflow:hidden;}
#footer #footerLegalBar{border-top:1px solid #D2D2D2;}
#footer #footerLegal{padding:10px 25px 10px 25px;}
#footer #legalLinks{width:750px;}
#footer #legalLinks li{float:left;padding:0 4px;border-left:1px solid #ACACAC;}
#footer #legalLinks li.first{padding-left:0px;border-left:none;}
#footer #legalLinks .copyright{clear:left;}
#tooltip{position:absolute;z-index:9999;width:180px;}
#tooltip.callout,#textSelector{background-color:#efefef;border:1px solid #787878;padding:10px;}
#tooltip.callout{text-align:center;}
#tooltip.callout .notch{border-color:#efefef transparent transparent transparent;border-style: solid;border-width: 10px;height:0;width:0;position:absolute;bottom:-20px;left:30px;}
#tooltip .notchBorder{border-color:#787878 transparent transparent transparent;border-style: solid;border-width: 10px;height:0;width:0;position:absolute;bottom:-21px;left:30px;}
/* Z-index of #mask must lower than #boxes .window */
#mask{position:fixed;z-index:200;background-color:#fff;display:none;}
#boxes .window{position:absolute;width:440px;height:200px;display:none;z-index:9999;padding:20px;}
/* Customize your modal window here, you can add background image too */
#boxes #dialog{width:375px;height:203px;}
#slidebox{position:relative;border:1px solid #ccc;/* [disabled]margin:40px auto; */}
#slidebox,#slidebox .content{width:737px;}
#slidebox,#slidebox .container,#slidebox .content{height:195px;}
#slidebox{overflow:hidden;}
#slidebox .container{position:relative; left:0;}
#slidebox .content{background:#424243;float:left;}
#slidebox .content div{/* [disabled]padding:15px 28px; *//* [disabled]height:100%; */font-family:Verdana, Geneva, sans-serif;font-size:13px;}
#slidebox a.next,#slidebox a.previous{position:absolute;z-index:50;display:block;width:28px;height: 36px;top:155px;display:block;}
#slidebox .next,#slidebox .previous,#slidebox .thumbs{background:url("../sharedImages/siteElements/icons-logos/slideBox.png") no-repeat -73px 0px;}
#slidebox .next{right:8px;margin-right:10px;}
#slidebox a.next:hover{background-position:-23px 0px;}#slidebox .thumbs{background-position:-290px -40px;}
#slidebox .previous{background-position:-50px 0px;right:45px;}
#slidebox a.previous:hover{background-position:0px 0px;}
#slidebox .thumbs{position:absolute;z-index:2;width: 100%;height: 20px;right: 0px;bottom: 0px;}
#slidebox .thumbs .thumb{display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px; background:url("../sharedImages/siteElements/icons-logos/slideBox.png") no-repeat 101px 0px; color:#fff;}
#slidebox .thumbs .thumb:hover{background:#fff; color:#000;}
#slidebox .selected_thumb{background:#fff; color:#000; display:block; margin-left:5px; float:left; font-family:Verdana, Geneva, sans-serif; font-size:9px; text-decoration:none; padding:2px 4px;}
#debugging_mouse_axis,#debugging_status{background: none repeat scroll 0 0 #0F0F0F;color:#FFFFFF;padding: 10px;z-index: 1000; opacity:0.7;position:fixed;}
#tagContainer{padding-right:20px;background-color:#fff;color:#004795;}
#tagContainer .point a{white-space:nowrap;}
/*ICONS*/
.faceBookIcon,.movingForward,.twitterIcon,.blogIcon,.uTubeIcon,.telephoneIcon,.emailIcon,.contactIcon{background:url("../sharedImages/siteElements/icons-logos/actionBarIcons.png") no-repeat scroll transparent;display:block;float:left;margin-right:10px;}
.faceBookIcon,.twitterIcon,.blogIcon,.uTubeIcon{height:16px;width:16px;}
.movingForward{background:url("../sharedImages/siteElements/icons-logos/transpIcons.png") no-repeat 0 0 scroll transparent;height:20px;width:158px;display:block;}
.blogIcon{background-position:-16px 0;}
.twitterIcon{background-position:-32px 0;}
.uTubeIcon{background-position:-48px 0;}
.telephoneIcon,.emailIcon,.contactIcon{height:13px;width:16px;}
.contactIcon{background-position:-65px -13px;}
.telephoneIcon{background-position:-65px 0;}
.emailIcon{background-position:-82px 0;}
.calcIcon,.toolIcon,.applIcon,.forexIcon,.videoIcon,.articleIcon,.atmIcon,.fileIcon,.audioIcon,.prodIcon,.branchIcon,.advisorIcon{background:url("../sharedImages/siteElements/icons-logos/gwaIcons.gif") no-repeat 0 0 scroll transparent;height:27px;width:33px; display:block;}
.videoIcon{background-position:-33px 0;}
.audioIcon{background-position:-66px 0;}
.toolIcon{background-position:-99px 0;}
.applIcon{background-position:-132px 0;}
.forexIcon{background-position:-297px 0;}
.articleIcon{background-position:-198px 0;}
.atmIcon{background-position:-231px 0;}
.fileIcon{background-position:-264px 0;}
.prodIcon{background-position:-165px 0;}
.branchIcon{background-position:-330px 0;}
.advisorIcon{background-position:-363px 0;}
.arrowDn,.arrowDnOver,.arrowUp,.arrowUpOver{background: url("../sharedImages/siteElements/icons-logos/actionBarIcons.png") no-repeat scroll -135px -32px transparent;display: block;float: right;margin-right: 10px;width:20px;}
.arrowDnOver,a.region:hover .arrowDn{background-position:-151px -32px;}
.arrowUp{background-position:-215px -32px;}
.arrowUpOver,a.region:hover .arrowUp{background-position:-234px -32px;}
.headerSBG_CIB .arrowDn{background-position:-87px -32px;}
.headerSBG_CIB .arrowDnOver{background-position:-103px -32px;}
.headerSBG_CIB .arrowUp{background-position:-167px -32px;}
.headerSBG_CIB .arrowUpOver{background-position:-183px -32px;}
.headerSBG_Priv .arrowDn{background-position:-119px -32px;}
.headerSBG_Priv .arrowDnOver{background-position:-87px -32px;}
.headerSBG_Priv .arrowUp{background-position:-199px -32px;}
.headerSBG_Priv .arrowUpOver{background-position:-167px -32px;}




}
/*@-webkit-keyframes roll{
    from{-webkit-transform:rotate(0deg) }
    to {-webkit-transform:rotate(360deg) }
}

@-moz-keyframes roll{
    from{-moz-transform:rotate(0deg) }
    to {-moz-transform:rotate(360deg) }
}

@keyframes roll{
    from{transform:rotate(0deg) }
    to {transform:rotate(360deg) }
}

body{
-moz-animation-name:roll;
-moz-animation-duration:4s;
-moz-animation-iteration-count:1;
-webkit-animation-name:roll;
-webkit-animation-duration:4s;
-webkit-animation-iteration-count:1;
}

html,body,div,iframe{margin:0;padding:0;height:100%;overflow:hidden;}
iframe{width:100%;border:0;}
